@font-face {
  font-family: ITCGaromond;
  src: url($itcgaramondstdltnarrow) format('woff')
}

@font-face {
  font-family: NewFoundationWhyte;
  src: url($newfoundationwhytebook) format('woff')
}

heading-font-family {
    font-family: ITCGaromond;
}

--font-family {
    font-family: NewFoundationWhyte;
}
